# Rename this file to .env 
# ChromaDB configuration
COLLECTION_NAME=company_policies
PERSIST_DIRECTORY=./chroma_db

# OpenAI Configuration
OPENAI_API_EMBEDDING_KEY=
OPENAI_MODEL=text-embedding-3-small